<div class="cont"> 
    <img src="../../assets/air-transmission.png" alt="icon">
    <h2 class="titolo">Qualita aria</h2>
    <hr>
    <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 5px;"><h2>data : </h2>{{AirData.giorno}}</div>
    <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 5px;"><h2>descrizione : </h2>{{AirData.descrizione}}</div>
    <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 5px;"><h2>previsione : </h2>{{AirData.previsione}}</div>
    <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 5px;"><h2>tendenza : </h2>{{AirData.tendenza}}</div>
</div>